@import url(font/PlayfairDisplay-BlackItalic.ttf);

body {
    font-family: "PlayfairDisplay-BlackItalic.ttf", monospace;
    text-align: center;
    background-image: url("imagens/background.rukkz-720.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

.intro {
    text-align: center;
    padding: 20px;
}

.page-title {
    font-family:"Playfair";
    font-size: 50px;
}
.drop {
    font-family:"Playfair";
    font-size: 30px;
}
.smile-rukkz {
    width: 80px;
    top: 10px;
    right: 10px;
}
.speedjunkie {
    width: 150px;
    top: 10px;
    right: 10px;
}
botton
.wpp {
    background-color: black ;
}